# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.ProiectareaJocurilor-master.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\mine\unityPros\ProiectareaJocurilor-master\.idea\.idea.ProiectareaJocurilor-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
